body {
  font-family: "Comic Sans MS", "Comic Sans", cursive, sans-serif;
  background-color: lightyellow;
  text-align: center;
  margin: 0;
  padding: 0;
}

.box {
  width: 400px;
  height: 100px;
  background-color: brown;
  margin: 30px auto;
  border-radius: 50%;
}

.content img {
  width: 300px;
  border: 10px dotted brown;
}
