body {
  font-family: Arial, sans-serif;
  background-color: #f9f9f9;
  text-align: center;
  margin: 0;
  padding: 0;
}
 
header {
  background-color: lightblue;
  padding: 20px;
}
 
.content img {
  width: 300px;
  border: 10px dotted red;
}
 
.box {
  width: 200px;
  height: 100px;
  background-color: #AAF0D1;
  margin: 40px auto;
}
